[submodule "themes/lightspeed"]
	path = themes/lightspeed
	url = https://github.com/carpetscheme/lightspeed.git
[submodule "themes/papaya"]
	path = themes/papaya
	url = https://github.com/Sinono3/papaya
